<html>
  <head>
    <title>Quiz Result</title>
  </head>
  <body>
    <% if(showMenu) { %> <% include include/header.ejs %> <% } %>
    <% if(error) { %>

      error: <%=error%>

    <% } else { %>
      <div style="margin-left: auto; margin-right: auto; max-width: 800px">
        <h2 style="text-align: center;">Score Result</h2><br /><br />
        <% for(let i = 0; i < result.length; i++) { %>
          <%=i+1%>. <img src="<%=result[i].profilePic%>" width="50" heigth="50"> คุณ <%=result[i].name%> ได้คะแนนรวม <%=result[i].point%> คะแนน
        <% } %>
      </div>

    <% } %>
  </body>
</html>
